/*

    <div class="floater"></div>
    <div class="centered">
        <!-- Centered content goes here -->
    </div>
*/

elementHeight = 275px
elementWidth = 500px

.floater
    position: relative
    float: left
    height: 50%
    margin-bottom: -(elementHeight/2)
    width: 100%

.centered
    position: relative
    clear: left
    height: elementHeight
    width: elementWidth
    margin: 0 auto
    background: #fff
