vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    -ms-{prop} args
    -o-{prop} args
    {prop} args

vendor2(prop, args1, args2)
    -webkit-{prop} args1, args2
    -moz-{prop} args1, args2
    -ms-{prop} args1, args2
    -o-{prop} args1, args2
    {prop} args1, args2

verticalCenter()
    position: absolute
    top: 50%
    vendor(transform, translateY(-50%))

absoluteCenter()
    position: absolute
    top: 50%
    left: 50%
    vendor(transform, translate(-50%, -50%))
