theme(bg, text, lt, lter, dk, dker)
    background-color: bg
    color: text

    .btn-link
        color: text

    &.lt, & .lt
        background-color: lt

    &.lter, & .lter
        background-color: lter

    &.dk, & .dk
        background-color: dk

    &.dker, & .dker
        background-color: dker

a
    color: #575757

    &:hover, &:focus
        color: #7d7d7d

    &:hover .caret-white
        border-top-color: #fff


.bg-light
    theme(#ebeef5, #717171, #f2f4f8, #f9fafc, #e4e8f2, #dde2ee)

    .nav-primary > ul > li.active > a
        background-color: #4C5566 !important;

.bg-dark
    theme(#4c5566, #c4c9d3, #545e70, #5c677c, #444c5c, #3d4452)

    a
        color: #d3d7de

.bg-black
    theme(#2c3039, #9aa1b1, #343843, #3d424f, #24282f, #1c1f25)

.bg-primary
    theme(#594f8d, #dbd8e9, #605598, #695ea5, #524982, #4b4276)
