@require 'functions'

.gallery
    .pane
        vendor(transition, opacity .25s)
        opacity: 0
        z-index: 0

    .dropzone.draghover
        opacity: 0.9
        z-index: 1


    .images
        opacity: 0.2
        text-align: center

        &.album
            opacity: 1
            z-index: 1

        .image
            display: inline-block
            background-position: center center
            background-size: 100% 100%
            margin: 2px

            &.focused
                vendor2(transition, width .25s, height .25s)
                position: relative
