
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body
    color: #222;
    height: 100%
    margin: 0px
    padding: 0px


#bottom
    position: absolute
    bottom:10px
    right:10px


#bottom a, #bottom a:link, #bottom a:visited
    text-decoration: none
    color: lightgray


#bottom ul li
    list-style: none

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy
    margin: 0.2em 0
    background: #ccc
    color: #000
    padding: 0.2em 0
