
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body
    height: 100%
    margin: 0px
    padding: 0px

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 13px
    color: #717171
    background-color: #f3f5f9

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy
    margin: 0.2em 0
    background: #ccc
    color: #000
    padding: 0.2em 0
