html, body
    height: 100%
    margin: 0px
    padding: 0px

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 13px
    color: #717171
    background-color: #f3f5f9

.slate
    top: 50%
    transform: translateY(-50%)
    -webkit-transform: translateY(-50%)
    -moz-transform: translateY(-50%)
