.gallery
    .image
        float: left
        position: relative
        background-position: center center
        background-size: 100% 100%
        margin: 2px

    .progress-bar
        /* Disable the transition animation because in the gallery, the progress bar is not responsive enough. */
        -webkit-transition: none
        transition: none
