@import 'functions'

navBarWidthWide = 125px
navBarWidthNarrow = 80px
navBarVerticalHeight = 50px

a
    text-decoration: none
    cursor: pointer

    &:hover, &:focus
        text-decoration: none

.btn
    cursor: pointer
    font-weight: 500

.hbox > aside, .hbox > section
    padding: 0 !important

#nav
    z-index: 1000

    .nav-brand
        text-align: center

.nav-bar
    vendor(transition, opacity .5s)
    position: relative

    & > .btn
        position: absolute
        font-size: 1.3em
        padding: 9px 12px
        line-height: 30px
        cursor: pointer

    .nav-brand + .btn
        right: 0
        top: 0

    .nav-brand
        font-size: 25px
        line-height: navBarVerticalHeight
        display: block

        &:hover
            text-decoration: none

.nav-primary
    line-height: 1.5

    & > ul
        & > li
            & > a
                padding: 15px 15px
                position: relative
                font-weight: bold
                text-shadow: 0 1px 1px rgba(0,0,0,0.2)
                border-bottom: 1px solid rgba(0,0,0,0.05) !important
                border-top: 1px solid rgba(255,255,255,0.05) !important
                transition: color .3s ease-in-out 0s

            &.active > a
                color: #FFF
                background-color: rgba(0, 0, 0, 0.075) !important
                text-shadow: none
    li a i
        margin-right: 0.5em
        font-size: 14px

.app-canvas
    width: 100%
    height: 100%
    overflow-y: scroll

@media (min-width: 768px)
    .aside-md
        width: navBarWidthWide

    .hbox
        display: table
        table-layout: fixed
        border-spacing: 0
        width: 100%

        &.stretch
            height: 100%

        & > aside, & > main
            display: table-cell
            vertical-align: top
            height: 100%
            padding: 0
            float: none

    .vbox
        display: table
        border-spacing: 0
        position: relative
        height: 100%
        width: 100%

        & > .app-menu
            top: navBarVerticalHeight
            bottom: 50px

        & > section, & > footer
            position: absolute
            top: 0
            bottom: 0
            width: 100%

        & > footer
            top: auto

    #nav
        -webkit-transition: width .25s
        transition: width .25s
        -webkit-backface-visibility: hidden
        -moz-backface-visibility: hidden
        backface-visibility: hidden

        &.nav-vertical
            width: navBarWidthNarrow

            .nav-brand
                font-size: 20px
                padding-left: 0
                padding-right: 0

            .nav-primary > ul > li > a > span
                display: block

            .nav-primary > ul > li > a
                position: relative
                padding: 12px 0
                font-size: 11px
                text-align: center

    #content
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: navBarWidthWide

    #nav.nav-vertical + #content
        left: navBarWidthNarrow

@media (max-width: 767px)
    .nav-off-screen
        position: absolute
        left: 0
        top: 0
        bottom: 0
        width: 75%
        visibility: visible
        overflow-x: hidden
        overflow-y: auto
        -webkit-overflow-scrolling: touch

        .nav-primary
            display: block !important

    #content
        position: absolute
        top: navBarVerticalHeight
        right: 0
        bottom: 0
        left: 0
