@require 'libs/vars'
@require 'libs/functions'

@import 'libs/core'
@import 'libs/themes'
@import 'libs/navbar'
@import 'pages/gallery'

a
    text-decoration: none
    cursor: pointer

    &:hover, &:focus
        text-decoration: none

.btn
    cursor: pointer
    font-weight: 500

.hbox > aside, .hbox > section
    padding: 0 !important

iframe.app-canvas
    border: none

.app-canvas
    &, .pane
        width: 100%
        height: 100%
        overflow-y: scroll

    .pane
        top: 0px
        position: absolute


@media (min-width: 768px)
    .hbox
        display: table
        table-layout: fixed
        border-spacing: 0
        width: 100%

        & > aside, & > main
            display: table-cell
            vertical-align: top
            height: 100%
            padding: 0
            float: none

    #content
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: navBarWidthWide

@media (max-width: 767px)
    #content
        position: absolute
        top: navBarVerticalHeight
        right: 0
        bottom: 0
        left: 0
