@require 'functions'

.gallery
    // Each pane is clear by default
    .pane
        vendor(transition, opacity .25s)
        opacity: 0
        z-index: 0
        text-align: center

    .pane.album
        text-align: left

    .loading
        // We only need the loading pane initially
        display: none

    // A mode class is applied to the container.  One of 'loading', drophover', 'grid', or 'showcase'
    // Here we make each visible appropriately.
    &.loading
        .loading
            display: block
            opacity: 0.8
            z-index: 1

    &.draghover
        // In draghover mode the dragzone is shown translucently over the current album
        .dropzone
            opacity: 0.9
            z-index: 2

        .album
            z-index: 1
            opacity: 0.3

    &.grid
        // In grid mode, only the album is shown
        .album
            z-index: 1
            opacity: 1.0

        .image
            margin: 2px
            cursor: -webkit-zoom-in
            cursor: zoom-in


    &.showcase
        // In showcase mode, only the zoomview is shown
        .zoomview
            z-index: 1
            opacity: 1.0

        .image
            absoluteCenter()
            cursor: -webkit-zoom-out
            cursor: zoom-out

    // Non-mode-related styles
    .image
        display: inline-block
        cursor: pointer

        img:hover+.button_bar
            opacity: 0.4

        .button_bar
            position: relative
            display: inline-block
            float: right
            padding: 6px 4px
            -webkit-transform: translateX(-100%)
            margin-top: 2px
            margin-left: -100%
            background-color: whitesmoke  // FIXME - use themes later
            color: #717171
            opacity: 0
            border-radius: 2px
            vendor(transition, opacity .25s)

            &:hover
                opacity: 0.9

            &>i
                font-size: 2em
                margin: 0px 6px

    .forward, .back
        display: inline-block
        font-size: 7em
        position: absolute
        color: #717171
        opacity: 0.4
        height: 40%
        width: 10%
        vendor(transition, opacity .25s)
        cursor: pointer
        z-index: 1
        verticalCenter()

        &>*
            verticalCenter()

        &:hover
            opacity: 0.9

    .forward
        right: 0px
        text-align: right
        margin-right: 33px

    .back
        left: 0px
        padding-left: 10px
        text-align: left
